// app global css in SCSS form
.text-brand-discord {
  color: #5865f2 !important;
}
.bg-brand-discord {
  background: #5865f2 !important;
}

.text-brand-twitch {
  color: #9146ff !important;
}
.bg-brand-twitch {
  background: #9146ff !important;
}
