// app global css in SCSS form
.text-brand-discord {
  color: #5865f2 !important;
}
.bg-brand-discord {
  background: #5865f2 !important;
}

.text-brand-nintendo {
  color: #ff0026 !important;
}
.bg-brand-nintendo {
  background: #ff0026 !important;
}

.text-brand-playstation {
  color: #0070d1 !important;
}
.bg-brand-playstation {
  background: #0070d1 !important;
}

.text-brand-steam {
  color: #000000 !important;
}
.bg-brand-steam {
  background: #000000 !important;
}

.text-brand-twitch {
  color: #9146ff !important;
}
.bg-brand-twitch {
  background: #9146ff !important;
}

.text-brand-xbox {
  color: #107b11 !important;
}
.bg-brand-xbox {
  background: #107b11 !important;
}

.service-assets-priorities-ghost {
  background: #5865f2;
  color: white;
}
